@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

body {
    font-size: 15px;
    /* background-color: #eee; */
    background-color: #C4E5F2;
    transition: 0.3s;
    font-family: 'Michroma';
}
nav {
    vertical-align: middle;
    height: 4em;
    line-height: 3em;
    display: flex;
    padding: 0.5em;
    /* background-color: #ddd; */
    background-color: #5CB9F2;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}
nav > img {
    margin-right: 1em;
}
nav .Logo-logo{
    width: auto;
    height: auto;
}
nav .Logo-letras{
    width: auto;
}
main {
    display: flex;
    margin-top: 6em;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    align-items: center;
}
img {
    width: 3em;
}
hr {
    border: 1px solid #777;
    width: 100%;
    max-width: 600px;
}
footer {
    text-align: center;
    width: 100%;
    position: absolute;
    left: 0;
    padding: 1em;
    box-sizing: border-box;
    padding-bottom: 1em;
}
footer > p {
    font-size: 1.175em;
}
a, a:visited {
    color: #77f;
    text-decoration: none;
    transition: .3s;
}
a:hover {
    color: #11f;
}
button {
    border: 1px solid #aaa;
    border-radius: 2px;
    background-color: #eee;
    padding: 0.5em 1em;
    color: #111;
    outline: none;
}
h4 {
    padding: 0;
    margin: 0.5em 0;
}

.hidden{
    visibility: hidden;
}

.Logo-UDO{
    position:relative;
    bottom: 100%;
}

.explicacion{
    font-size:0.6rem;
}

.side-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 290px;
}

.instructions {
    border: 1.3em solid #024873;
    border-radius: 5px;
    padding: 0 1em;
    font-size: 10px;
}